Ejercicio_01.json
[
    {
        "id": "81f854aba04d2031",
        "type": "tab",
        "label": "Ejercicio 01",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5bcecbe7aea8dbb2",
        "type": "mqtt in",
        "z": "81f854aba04d2031",
        "name": "iot/temperatura",
        "topic": "iot/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5310b689cb05abd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 280,
        "wires": [
            [
                "3949c3902140f2a5",
                "1205f072b53b47f5",
                "3c20012e834456f1"
            ]
        ]
    },
    {
        "id": "3949c3902140f2a5",
        "type": "function",
        "z": "81f854aba04d2031",
        "name": "insertar",
        "func": "if(msg.topic == \"iot/temperatura\" && !isNaN(msg.payload) )\n{\n\nmsg.topic = \"INSERT INTO tbl_temperatura(temperatura,descripcion)\"\n+ \"VALUES(\" + msg.payload + \",'Inserción desde MQTT')\";\n\n}else{\n    msg.topic= \"\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "a8e61d7e80ba710f"
            ]
        ]
    },
    {
        "id": "1205f072b53b47f5",
        "type": "ui_gauge",
        "z": "81f854aba04d2031",
        "name": "Temperatura",
        "group": "a59a72bf451fd23d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Cálculo de Temperatura",
        "label": "C",
        "format": "{{value}} °C",
        "min": 0,
        "max": "100",
        "colors": [
            "#2472f0",
            "#00e604",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "a8e61d7e80ba710f",
        "type": "mysql",
        "z": "81f854aba04d2031",
        "mydb": "c3f5536a4d0840d4",
        "name": "Base de Datos",
        "x": 700,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "3c20012e834456f1",
        "type": "ui_chart",
        "z": "81f854aba04d2031",
        "name": "Histórico",
        "group": "fe23ced65e940775",
        "order": 1,
        "width": "10",
        "height": "8",
        "label": "Histórico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#8800a3",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 480,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5ddeb009800ee0a7",
        "type": "comment",
        "z": "81f854aba04d2031",
        "name": "MQTT SUB",
        "info": "#Topico\n```shell\niot/temperatura\n```",
        "x": 230,
        "y": 180,
        "wires": []
    },
    {
        "id": "5e79481d83ab9d6a",
        "type": "mqtt in",
        "z": "81f854aba04d2031",
        "name": "",
        "topic": "iot/humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74502b89fef40f66",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 400,
        "wires": [
            [
                "bc9771e8a0ee7477",
                "3c20012e834456f1"
            ]
        ]
    },
    {
        "id": "bc9771e8a0ee7477",
        "type": "ui_gauge",
        "z": "81f854aba04d2031",
        "name": "Humedad",
        "group": "09fbb2c08298aa1c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humedad",
        "label": "",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#e6c700",
            "#00bd03",
            "#0050d1"
        ],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 400,
        "wires": []
    },
    {
        "id": "45deb61a4b500293",
        "type": "comment",
        "z": "81f854aba04d2031",
        "name": "GDS0551 ",
        "info": "#Nombre del alumno\nLuis Oswaldo Rodríguez López\n\n#Num. Control\n1222100922",
        "x": 420,
        "y": 140,
        "wires": []
    },
    {
        "id": "5310b689cb05abd8",
        "type": "mqtt-broker",
        "name": "Server",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "ale",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "30",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "2",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a59a72bf451fd23d",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "3c40e5fc52eb938e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c3f5536a4d0840d4",
        "type": "MySQLdatabase",
        "name": "Server DB",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "fe23ced65e940775",
        "type": "ui_group",
        "name": "Histórico de datos",
        "tab": "3c40e5fc52eb938e",
        "order": 2,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74502b89fef40f66",
        "type": "mqtt-broker",
        "name": "Server",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "lorl",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "30",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "09fbb2c08298aa1c",
        "type": "ui_group",
        "name": "Informacion",
        "tab": "3c40e5fc52eb938e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c40e5fc52eb938e",
        "type": "ui_tab",
        "name": "IoT",
        "icon": "payment",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]